.shapeContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.shapeContainer{
    width: 65%;
}
.AreaContainer{
    width: 35%;
}
@media screen and (max-width: 576px){
    .mainUI{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .shapeContainer{
        display: flex;
        flex-direction: column;
    }
    .shapeContainer{
        width: 100%;
    }
    .AreaContainer{
        width: 100%;
    }
}